
    <!-- Contact Us Section -->
    <div class="card shadow-xl p-10 max-w-3xl w-full">
      <h2 class="text-4xl font-semibold mb-4">Contact Us</h2>
      <form class="space-y-6">
        <input type="text" placeholder="Name" class="input input-bordered w-full" />
        <input type="email" placeholder="Email" class="input input-bordered w-full" />
        <textarea placeholder="Message" class="textarea textarea-bordered w-full"></textarea>
        <button type="submit"  style="background-color:#4f46e5;color:white;" class="btn btn-error  w-full">Send</button>
      </form>
    </div>
  